<div class="calc-grid">
  <span class="buffer">
    <% if buffering %>
      <%= buffer %>
    <% else %>
      <%= total %>
    <% end %>
  </span>

  <%= button_tag "C", data: { motion: "clear" } %>
  <%= button_tag "+/-", data: { motion: "change_sign" } %>
  <%= button_tag "%", data: { motion: "percent" } %>
  <%= button_tag "รท", data: { motion: "divide" } %>

  <%= button_tag "7", data: { motion: "seven" } %>
  <%= button_tag "8", data: { motion: "eight" } %>
  <%= button_tag "9", data: { motion: "nine" } %>
  <%= button_tag "X", data: { motion: "multiply" } %>

  <%= button_tag "4", data: { motion: "four" } %>
  <%= button_tag "5", data: { motion: "five" } %>
  <%= button_tag "6", data: { motion: "six" } %>
  <%= button_tag "-", data: { motion: "subtract" } %>

  <%= button_tag "1", data: { motion: "one" } %>
  <%= button_tag "2", data: { motion: "two" } %>
  <%= button_tag "3", data: { motion: "three" } %>
  <%= button_tag "+", data: { motion: "add" } %>

  <%= button_tag "0", class: "zero-button", data: { motion: "zero" } %>
  <%= button_tag ".", data: { motion: "decimal" } %>
  <%= button_tag "=", data: { motion: "equals" } %>
</div>
