<div id="clicker-game">
  <div class="card p-3">
    <div class="card-body">
      <ul>
        <% players.sort_by(&:score).reverse.each do |(other_player, score)| %>
          <li>
            <% if other_player.name == player.name %>
              <strong><%= player.name %> (you)</strong>: <%= player.score %>
            <% else %>
              <%= other_player.name %>: <%= other_player.score %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= button_tag "Click", class: "btn btn-primary", data: { motion: "click", amt: 1 } %>
      <% if player.score > 10 %>
        <%= button_tag "Click 5", class: "btn btn-primary", data: { motion: "click", amt: 5 } %>
      <% end %>
      <% if player.score > 100 %>
        <%= button_tag "Click 55", class: "btn btn-primary", data: { motion: "click", amt: 55 } %>
      <% end %>
    </div>
  </div>
</div>
