<div id="clicker-game">
  <div class="card p-3">
    <div class="card-body">
      <ol>
        <% players.sort_by(&:score).reverse.each do |(other_player, score)| %>
          <li>
            <% if other_player.name == player.name %>
              <strong><%= player.name %> (you)</strong>: <%= player.score %>
            <% else %>
              <%= other_player.name %>: <%= other_player.score %>
            <% end %>
          </li>
        <% end %>
      </ol>

      <p>Most Recent Score: <%= scored %></p>

      <section class="clicker-grid">
        <% if game.updated_at.to_i % 10 == 0 %>
          <%= score_button 44 %>
        <% end %>

        <% if score == 30 %>
          <%= score_button 75 %>
        <% end %>

        <% if score == 2 %>
          <%= score_button -220 %>
        <% end %>

        <% if score > 10 && score < 100 %>
          <%= score_button 5 %>
        <% end %>

        <% if score % 5 == 1 %>
          <%= score_button -20 %>
        <% end %>

        <%= button_tag "Luck", class: "btn #{random_btn_class}", data: { motion: "lucky_click" } %>

        <% if score % 10 == 1 %>
          <%= score_button 50 %>
        <% end %>

        <% if score > 100 %>
          <%= score_button -50 %>
        <% end %>

        <%= score_button 1 %>

        <% if score % 14 == 2 %>
          <%= score_button 22 %>
        <% end %>

        <% if score % 255 == 1 %>
          <%= score_button 500 %>
        <% end %>

        <% if score % 30 %>
          <%= score_button 40 %>
        <% end %>

        <% if score > 1000 %>
          <%= score_button -800 %>
        <% end %>

        <% if score > 100 %>
          <%= score_button 55 %>
        <% end %>

        <% if score == 7777 %>
          <%= score_button 7777, text: "ALL LUCKY 7S" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
