<%= form_with model: @signup, url: "/form" do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", data: { motion: "blur->validate" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control", data: { motion: "blur->validate" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :favorite_color, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.select :favorite_color, [:pink, :green, :red, :purple, :yellow, :blue], {}, class: "form-control", data: { motion: "validate" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :birthday, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.date_field :birthday, class: "form-control", data: { motion: "validate" } %>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Plan Choice</legend>

      <div class="col-sm-10">
        <div class="form-check">
          <%= f.radio_button :plan, 1, checked: true, class: "form-check-input" %>
          <%= f.label :plan_1, class: "form-check-label", data: { motion: "validate" } do %>
            Basic
          <% end %>
        </div>

        <div class="form-check">
          <%= f.radio_button :plan, 2, class: "form-check-input" %>
          <%= f.label :plan_2, class: "form-check-label", data: { motion: "validate" } do %>
            Standard
          <% end %>
        </div>

        <div class="form-check">
          <%= f.radio_button :plan, 3, class: "form-check-input" %>
          <%= f.label :plan_3, class: "form-check-label", data: { motion: "validate" } do %>
            Advanced
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-2">Terms of Service</div>
    <div class="col-sm-10">
      <div class="form-check">
        <%= f.check_box :accept, class: "form-check-input" %>
        <%= f.label :accept, "Accept Terms", class: "form-check-label", data: { motion: "validate" } %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :comments, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :comments, class: "form-control", data: { motion: "blur->validate" } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.submit "Submit", class: "btn btn-primary", disabled: !f.object.valid? %>
    </div>
  </div>
<% end %>
