<tr key="<%= message.id %>" id="<%= message.id %>" class="<%= row_class_names %>">
    <td class="mail-select">
      <label class="cr-styled">
          <input type="checkbox">
      </label>
    </td>
    <td class="mail-rateing">
      <a data-motion="star" href="##">
        <%= svg display_star %>
      </a>
    </td>
    <td>
      <a data-motion="read_msg" href="##">
        <%= render Dashboard::UserStatus.new(user: display_status_user) %>
        <%= display_name(message) %>
      </a>
    </td>
    <td>
      <a data-motion="read_msg" href="##">
        <%= truncate(content, length: 20) %>
      </a>
    </td>
    <td class="text-right">
        <%= display_sent_at(message) %>
    </td>
    <td>
      <a data-motion="trash" href="##">
        <%= svg "trash" %>
      </a>
    </td>
</tr>
