<tr key="<%= message.id %>" id="<%= message.id %>" class="<%= row_class_names %>">
  <% if user == message.from %>
    <td class="mail-select">
        <label class="cr-styled">
            <input type="checkbox"><i class="fa"></i>
        </label>
    </td>
    <td class="mail-rateing">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#bootstrap-icons.svg#star"/>
      </svg>
    </td>
    <td>
        <a data-motion="toggle_read" href="##">
          <%= to_display %>
        </a>
    </td>
    <td>
        <a data-motion="toggle_read" href="##">
          <%= render Dashboard::UserStatus.new(user: from) %>
          <%= truncate(content, length: 20) %>
        </a>
    </td>
    <td class="text-right">
        <%= sent_at %>
    </td>
    <td>
      <svg class="bi" width="32" height="32" fill="currentColor" data-motion="trash">
        <use xlink:href="#bootstrap-icons.svg#trash"/>
      </svg>
    </td>

  <% else %>
    <td class="mail-select">
        <label class="cr-styled">
            <input type="checkbox">
        </label>
    </td>
    <td class="mail-rateing">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#bootstrap-icons.svg#star"/>
      </svg>
    </td>
    <td>
        <a data-motion="toggle_read" href="##">
          <%= from_display %>
        </a>
    </td>
    <td>
        <a data-motion="toggle_read" href="##">
          <%= render Dashboard::UserStatus.new(user: from) %>
          <%= truncate(content, length: 20) %>
        </a>
    </td>
    <td class="text-right">
        <%= sent_at %>
    </td>
    <td>
      <a data-motion="trash" href="##">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="#bootstrap-icons.svg#trash"/>
        </svg>
      </a>
    </td>

  <% end %>
</tr>
