<section>
  <% if @reading %>
    <div class="panel panel-default m-t-20">
        <div class="panel-body">
          <div class="col-xs-7">
              Showing <%= showing_index %> of <%= total %>
          </div>

          <%= render Dashboard::MessageRead.new(user: user, message: reading, on_exit: reading_callback, on_next: on_next_callback, on_previous: on_previous_callback) %>
        </div>
    </div>
  <% else %>
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-success"><i class="fa fa-inbox"></i></button>
                    <button type="button" class="btn btn-success"><i class="fa fa-exclamation-circle"></i></button>
                    <button type="button" class="btn btn-success"><%= svg "trash" %></button>
                </div>
                <div class="dropdown btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-folder"></i>
                    <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                          <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-tag"></i>
                    <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      More
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#fakelink">Dropdown link</a></li>
                      <li><a href="#fakelink">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div> <!-- End row -->
    <div class="panel panel-default m-t-20">
        <div class="panel-body">
            <table class="table table-hover mails">
                <tbody>
                  <% @messages.each_with_index do |message, i|  %>
                    <tr key="<%= message.id %>" id="<%= message.id %>" class="<%= row_class_names(message) %>">
                        <td class="mail-select">
                          <label class="cr-styled">
                              <input type="checkbox">
                          </label>
                        </td>
                        <td class="mail-rateing">
                          <a data-motion="star" data-value="<%= message.id %>" href="##">
                            <%= svg display_star(message) %>
                          </a>
                        </td>
                        <td>
                          <a data-motion="read_msg" data-value="<%= message.id %>" href="##">
                            <%= render Dashboard::UserStatus.new(user: display_status_user(message)) %>
                            <%= display_name(message) %>
                          </a>
                        </td>
                        <td>
                          <a data-motion="read_msg" data-value="<%= message.id %>" href="##">
                            <%= truncate(content, length: 20) %>
                          </a>
                        </td>
                        <td class="text-right">
                            <%= display_sent_at(message) %>
                        </td>
                        <td>
                          <a data-motion="trash" data-value="<%= message.id %>"  href="##">
                            <%= svg "trash" %>
                          </a>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <hr>
            <div class="row">
                <div class="col-xs-7">
                    Showing <%= messages_start %> to <%= messages_end %> of <%= total %>
                </div>
                <div class="col-xs-5">
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-default" data-motion="on_paginate" data-value="decrease" <%= "disabled" unless paginate_decrease? %>>
                        <%= svg "caret-left-fill" %>
                      </button>
                      <button type="button" class="btn btn-default" data-motion="on_paginate" data-value="increase" <%= "disabled" unless paginate_increase? %>>
                        <%= svg "caret-right-fill" %>
                      </button>
                    </div>
                </div>
            </div>
        </div> <!-- panel body -->
    </div>
  <% end %>
</section>
