<div id="modal-demos">
  <section>
    <h2>Select a way to trigger the modal.</h2>
    <ul class="list-unstyled triggers">
      <li>
        <button data-motion="mode" data-value="motion" class="btn btn-outline-primary <%= modal_mode == :motion ? 'active' : nil %>">
          Motion Modal - triggered by Motion upon selection
        </button>
      </li>
      <li>
        <button data-motion="mode" data-value="modal_with_trigger" class="btn btn-outline-primary <%= modal_mode == :modal_with_trigger ? 'active' : nil %>">
          Bootstrap Modal - triggered by Bootstrap trigger button
        </button>
      </li>
      <li>
        <button data-motion="mode" data-value="modal" class="btn btn-outline-primary <%= modal_mode == :modal ? 'active' : nil %>">
          Bootstrap Modal - triggered by Bootstrap upon selection
        </button>
      </li>
    </ul>
  </section>

  <section>
    <h2>Current state </h2>
    <p>Selected: <%= selected %></p>

    <p>Mode: <%= modal_mode %></p>
    <p><%= content %></p>
  </section>

  <section>
    <h2>Select a number to display inside the modal.</h2>
    <p>Selecting the number will trigger the modal except for the Bootstrap trigger.</p>
    <ul class="list-unstyled display-options">
      <% 5.times do |i| %>
        <li>
          <button
            data-motion="selection"
            data-value="<%= i + 1 %>"
            class="btn btn-outline-primary <%= (selected == (i + 1).to_s ? 'active' : nil) %>"
            <%= modal_mode == :modal ? 'data-toggle=modal data-target=#exampleModal' : nil %>
          >
            <%= numbers_to_words(i + 1) %>
          </button>
        </li>
      <% end %>
    </ul>
  </section>

  <%= render Modals::BootstrapModal.new(on_dismiss: bind(:dismiss), show_trigger: show_bootstrap_trigger?, selected: selected, body: body) %>
  <% if open_motion_modal? %>
    <%= render Modals::MotionModal.new(on_dismiss: bind(:dismiss), selected: selected, body: body) %>
  <% end %>
</div>
