<<%= tagname %> id="<%= outer_id %>">
  <span id="<%= inner_id %>"> <%= "#{item.value}: (id #{id})" %></span>
  <button type="button" data-motion="delete" class="btn btn-warning">Delete</button>
</<%= tagname %>>
