<fieldset class="mb-4">
  <legend>Create Game</legend>
  <%= button_to "Create 9x9 Go Game", go_index_path, class: "btn btn-primary" %>
</fieldset>

<fieldset>
  <legend>Join Game</legend>
  <%= form_with url: join_go_index_path do |f| %>
    <div class="form-group row">
      <%= f.label :id, "Game ID", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :id, class: "form-control" %>
      </div>
    </div>
    <%= f.submit "Join Game", class: "btn btn-primary" %>
  <% end %>
</fieldset>
