<!DOCTYPE html>
<html>
<head>
  <title>Motion Demos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render "layouts/head" %>
</head>

<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <%= link_to "Back to All Demos", root_path %>
        <h1>Motion Demos - Clicker Game</h1>
        <p>Clicker game is a race to see who can get the most points. Click by yourself or with friends!</p>

        <ul>
          <li>Multi-player clicker, challenge 40+ friends by sharing a link or Game ID</li>
          <li>No JS, all Ruby!</li>
          <li>Scores and players are shown and updated in real-time</li>
          <li>Games are persisted to the db and updated in real time for all players</li>
          <li>Players are only in the game as long as their browser tab is open</li>
        </ul>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
